.tab-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 5%;
  width: 100%;

  margin-top: 2.5%;
  box-shadow: 0px 9px 9px -15px #111;
}
.products-loader-container {
  align-self: center;
  margin-top: 15%;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .tab-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

    margin-top: 2.5%;
    box-shadow: 0px 9px 9px -15px #111;
  }
}
.food-items-container {
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
